@charset "utf-8";

/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    height: 750px;
    background: url("/images/giraff.jpg") center center no-repeat;
    background-size: cover;
    
}
.cover .cover-inner {
    height: 50%;
    margin: 30 50;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h2 {
    margin: 0 0 20px 40px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.15em;
}
.cover .btn-success {
    background-color: #ed486f;
    border-color: #ed486f;
}